{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "ProtectedVisibility": {
            "ignore": [
                "BitExpert\\Magento\\ListApiEndpoints\\Command\\ListApiEndpoints::getDefinedServices"
            ]
        }
    }
}
