parameters:
    level: max
    fileExtensions:
        - php
    paths:
        - src/BitExpert
        - tests/BitExpert
    bootstrapFiles:
            - vendor/bitexpert/phpstan-magento/autoload.php
